.bg{
    &-about{
        @include set-background($bg__offer-img,0,"center","cover","fixed");

    }
    &-home{
        @include set-background($bg__home-img,0,"center","cover","scroll");

    }
    &-offer{
        @include set-background($bg__offer-img,0,"center","cover","fixed");

    }
    &-orange{
        background-color: $color__orange!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
textarea{
    resize: none;
}

@media all and (max-width:767px){
    .bg{
        &-collapsed-orange{
            background-color: $color__orange!important;
        }
    }
    .border{
        &-collapsed-dark-orange{
            border: 1px solid $color__dark-orange!important;
        }
    }
}